<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538543552433-9bv30b5khr4440ccg4dng2komc9nijbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538543552433-9bv30b5khr4440ccg4dng2komc9nijbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdrnQsiUZ4Fd-PFP5nP_kM0qWGqCTRyxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>538543552433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoCrud</string>
	<key>PROJECT_ID</key>
	<string>pruebas-mac-3119b</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebas-mac-3119b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538543552433:ios:b5c5d7e11a9a9281a66f90</string>
</dict>
</plist>